/* reset */
:root {
	box-sizing: border-box;
	line-height: 1.4;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

img {
	max-width:100%;
	height:auto;
}

/* end reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	color: #333;
	background-color: #f9f9f9;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: #2c3e50;
	padding: 0.3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	height: 3.5rem;
}

.logo {
	display: flex;
	align-items: center; /* Vertically centers the image */
	justify-content: center; /* Horizontally centers the image */
}

.logo img {
	width: 3rem;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 1.5rem;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover,
nav a.active {
	color: #3498db;
}

/* Main Content */
main {
	max-width: 800px;
	margin: 2rem auto;
	padding: 0 1rem;
	flex: 1;
}

.hero, .app-showcase {
	text-align: center;
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	color: #2c3e50;
}

p {
	margin-bottom: 1.5rem;
}

.cta-button, .platform-button, .privacy-link {
	display: inline-block;
	padding: 0.75rem 1.5rem;
	background-color: #3498db;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	margin: 0.5rem;
}

.cta-button:hover, .platform-button:hover, .privacy-link:hover {
	background-color: #2980b9;
}

.platform-links {
	margin: 1.5rem 0;
}

.privacy_container {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 20px;
	background-color: #f9f9f9;
	color: #333;

	max-width: 800px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.privacy_container h1 {
	font-size: 2em;
	color: #2c3e50;
}
.privacy_container h2 {
	font-size: 1.5em;
	color: #34495e;
	margin-top: 20px;
}
.privacy_container h3 {
	font-size: 1.3em;
	color: #44495e;
	margin-top: 20px;
}
.privacy_container p,
.privacy_container li {
	font-size: 1em;
	color: #555;
}
.privacy_container a {
	color: #007bff;
	text-decoration: none;
}
.privacy_container a:hover {
	text-decoration: underline;
}
.privacy_container ul {
	padding-left: 20px;
}

footer {
	background-color: #2c3e50;
	color: #fff;
	text-align: center;
	padding: 1rem;
	width: 100%;
}

footer a {
	color: #3498db;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

@media (max-width: 768px) {
	header {
		flex-direction: column;
		text-align: center;
	}

	nav ul {
		flex-direction: column;
		gap: 1rem;
		margin-top: 1rem;
	}

	h1 {
		font-size: 2rem;
	}
}